@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

html {
  scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Google Sans Flex";
    -webkit-tap-highlight-color: transparent;
    background: #EEEEEE;

}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav h1 {
    letter-spacing: -1px;
    font-size: 26px;
    cursor: pointer;
    background-color: transparent;
}

nav h1 span {
    font-weight: 300;
    background-color: transparent;
}

nav .nav_elements {
    display: flex;
    gap: 25px;
    background-color: transparent;
}

nav .nav_elements li {
    list-style: none;
    background-color: transparent;
}

nav .nav_elements li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.52);
    transition: .2s ease;
    background-color: transparent;
}

nav li a:hover {
    color: black;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    background-color: transparent;
}

.menu-toggle img {
    background-color: transparent;
}

.alert {
    display: none;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 8px;
    background-color: black;
    color: white;
    padding: 3px 0;
    position: sticky;
    top: 70px;
}

.hero {
    width: 100%;
    height: auto;
    padding: 20px 80px;
    margin-top: 100px;

    animation-name: reveal;
    animation-duration: 1s;
}

.hero .hero_left {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero .hero_left h1 {
    font-size: 40px;
    letter-spacing: -1px;
}

.hero .hero_left .main {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    color: black;
}

.hero_left p {
    color: #4f4f4f;
}

.hero .hero-btns {
    display: flex;
    gap: 10px;
}

.cont-btn {
    padding: 5px 15px;
    background-color: #007979;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease;
    text-decoration: none;
    font-size: 13px;
    margin-right: 5px;
    margin-top: 20px;
}

.cont-btn:hover {
    background-color: black;
    color: white;
}

.btn {
    padding: 5px 15px;
    background-color: #000000;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: .2s ease;
    text-decoration: none;
    font-size: 13px;
    margin-right: 5px;
    margin-top: 20px;
}

.hero .hero_left .hero-btns .btn:hover {
    background-color: #007979;
    color: white;
}

.btn:hover {
    background-color: #007979;
    color: white;
}

.hero .hero-btns .btn{
    padding: 5px 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: .2s ease;
}

.hero .hero-btns .btn:hover {
    background-color: rgb(78, 99, 163);
    color: white;
}

.nav_elements .selected {
    color: black;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.follow p {
    font-size: 13px;
    margin-top: 30px;
}

.follow a{
    color: #007979;
    text-decoration: none;
}

.follow a:hover {
    text-decoration: underline;
}


@keyframes reveal {
    0%{
        opacity: 0%;
        transform: translateY(12px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}

.leet-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leet_mid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: -50px;
    transition: .2s ease;
    cursor: pointer;
    opacity: 70%;
}

.leet_mid h1{
    font-size: 28px;
}

.leet_mid span {
    font-size: 50px;
    font-weight: 700;
}

.leet {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: -50px;
    transition: .2s ease;
    cursor: pointer;
    opacity: 50%;
}

.leet h1 {
    font-size: 20px;
}

.leet span {
    font-size: 35px;
    margin-top: 5px;
    font-weight: 700;
}

.leet:hover, .leet_mid:hover {
    opacity: 100%;
}

/* About Section */


#about {
    width: 100%;
    height: auto;
    scroll-margin-top: 80px;
    background: transparent;
    padding-bottom: 100px;
}

.about-main {
    width: 90%;
    height: auto;
    background-color: #DDDDDD;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.351);
}

.about-main .about_info {
    background-color: transparent;
    max-width: 50%;
}

.about-main .about_info h1 {
    margin-top: 20px;
    background-color: transparent;
    color: #007979;
}

.about-main p{
    background-color: transparent;
}

.about-main .about_info .subtext {
    background-color: transparent;
    padding-bottom: 20px;
    font-size: 13px;
    color: rgb(55, 55, 55);
}

.about-main .about_info h2 {
    background-color: transparent;
    font-weight: 300;
    letter-spacing: 0;
}

.about-main .image_space {
    display: flex;
    justify-self: center;
    align-self: center;
}


/* Skills Section */


#skills {
    width: 100%;
    height: auto;
    scroll-margin-top: 80px;
    background: transparent;
}

#skills h1 {
    font-size: 60px;
    padding-left: 80px;
    color: #000;
    background-color: transparent;
}

.skills_main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    padding: 30px 80px;
}

.skills-cards {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.146);
    cursor: default;
    transition: .2s ease;
    opacity: 70%;

    animation-name: reveal;
    animation-duration: 1s;
}

.skills-cards:hover {
    transform: scale(1.02);
    opacity: 100%;
}



#skills .skills-cards h1 {
    font-size: 30px;
    padding-left: 0;
    background-color: transparent;
    color: black;
}

.skills-cards img,h4 {
    background-color: transparent;
}

.skills-cards p {
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: transparent;
}

.skills-cards-span {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.374);
}

/* Projects Section */


#projects {
    width: 100%;
    min-height: 100vh;
    scroll-margin-top: 80px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
    background: #EEEEEE;
    color: white;
}

#projects h1 {
    text-align: right;
    padding: 0 80px;
    font-size: 60px;
    background-color: transparent;
    color: black;
}

.projects_holder {
    width: 100%;
    height: auto;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: transparent;
}

.project_cards {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    box-shadow: 1px 1px 5px rgba(15, 15, 15, 0.444);
    transition: .3s ease;
}

.project_cards h2 {
    font-size: 21px;
    font-weight: 600; 
    background-color: transparent;   
}

.pro-title-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 15px;
}

.pro-title-container .pro-label {
    color: green;
    background-color: rgb(214, 247, 214);
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 10px;
}

.project_cards .label {
    font-size: 12px;
    margin-top: 3px;
    color: grey;
    background-color: transparent;
}



.pro_skills {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
}

.pro-image {
    width: auto;
    height: auto;
    background-color: transparent;
}

.pro-image a{
    background-color: transparent;
}

.pro-image img {
    width: 600px;
    height: auto;
    cursor: pointer; 
    border-radius: 10px;
}

.project_cards .description {
    font-size: 14px;
    max-width: 800px;
    margin-top: 40px;
    background-color: transparent;
}

.project_cards .pro-info .proj_info {
    background-color: transparent;
}

.pro-info {
    font-size: 12px;
    background-color: transparent;
}

.pro-info a{
    color: rgb(78, 99, 163);
    text-decoration: none;
    background-color: transparent;
}

.pro-info a:hover {
    text-decoration: underline;
}

.info {
    font-size: 11px;
    text-align: center;
    color: grey;
    font-weight: 200;
    background-color: transparent;
}

.project_cards .btns{
    background-color: transparent;
}

.project_cards .btns button {
    background-color: black;
    color: white;
    border-radius: 30px;
}

.project_cards .btns button:hover {
    background-color: #007979;
    color: white;
}

.planned_pro_container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: start;
    gap: 20px;
}

.planned_pro_container .project_cards {
    width: 100%;
}

/* GitHub Section */


#github {
    width: 100%;
    min-height: auto;
    scroll-margin-top: 80px;
    background: transparent;
    margin-top: 30px;
}

#github .info, 
#projects .info,
#contact .info_last  {
    padding: 0 40px;
}

.main-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-top: 20px;
}

.main-logo img{
    width: 140px;
}

.main-logo a {
    transition: .2s ease;
}

.main-logo a:hover {
    transform: scale(1.04);
}

.git-card-holder {
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: auto;
    padding: 30px 80px;
    gap: 30px;
    justify-content: center;
}

.git-cards {
    width: auto;
    height: auto;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.444);
    text-align: center;

}

.git-cards h2 {
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
}

.git-cards a {
    font-size: 11px;
    text-decoration: none;
    background-color: black;
    padding: 5px 15px;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 5px;
    transition: .1s ease;
}

.git-cards a:hover {
    background-color: rgb(78, 99, 163);
}

#github .into-text {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;
    margin-top: 30px;
    font-size: 18px;
    padding: 0 40px;
}

.github-stats {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 100px;
    padding: 20px 40px;
}

.stat-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Contact Section */


#contact {
    width: 100%;
    min-height: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    scroll-margin-top: 80px;
}

#contact h1 {
    font-size: 60px;
    padding-left: 80px;
    letter-spacing: -2px;
}

#contact h2 {
    padding-left: 80px;
    letter-spacing: -1px;
    font-weight: 400;
}

.contact-block {
    margin-top: 30px;
}

.contact-block h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact-block p {
    font-size: 15px;
    font-weight: 300;
}

.contact-block a{
    text-decoration: none;
    font-weight: 400;
    color: rgb(78, 99, 163);
}

.contact-block a:hover {
    text-decoration: underline;
}

.info_last {
    font-size: 12px;
    padding-left: 80px;
    margin-top: 40px;
    color: grey;
}

.contact-holder {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

#achievements {
    scroll-margin-top: 90px;
    width: 100%;
    height: auto;
    padding: 0 80px;
}

#achievements h1 {
    font-size: 60px;
    letter-spacing: -2px;
    margin-top: 60px;
}

#achievements .achieve-container {
    width: 100%;
    height: auto;
    background-color: #DDDDDD;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.085);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.227);
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#achievements .achieve-container .achieve-cards {
    max-width: 400px;
    height: 100%;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    cursor: default;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.166);
    transition: .2s ease;
}

#achievements .achieve-container .achieve-cards:hover {
    color: #007979;
    border: 1px solid #007979;
}

#achievements .achieve-container .achieve-cards h2 {
    background-color: transparent;
    font-size: 25px;
    margin-bottom: 8px;
}

#achievements .achieve-container .achieve-cards p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.508);
} 

#achievements .achieve-container .achieve-cards .achieve-info {
    font-size: 12px;
    margin-top: 10px;
    color: black;
}

#achievements .achieve-container .achieve-cards-span {
    background-color: transparent;
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 13px;
}

#achievements .achieve-container .achieve-cards-span p {
    background-color: transparent;
    max-width: 200px;
    text-align: center;
    color: #000000aa;
    font-weight: 200;
}


#achievements .achieve-container .achieve-cards .organisers {
    margin-top: 20px;
    font-size: 13px;
    color: black;
    font-weight: 500;
}

#achievements .achieve-container .achieve-cards .time {
    font-size: 9px;
    font-weight: 300;
    margin-top: 8px;
    text-align: right;
    color: rgba(0, 0, 0, 0.556);
}

@media(max-width: 1000px){
    .hero .hero_left{
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .hero .hero_left h1{
        text-align: center;
    }

    .hero .hero_left p {
        text-align: center;
    }

    .hero .follow {
        display: flex;
        justify-content: center;
    }

    .about-main {
        flex-direction: column;

    }

    .about-main .about_info {
        max-width: none;
    }
}

@media(max-width: 1300px){

    .project_cards {
        flex-direction: column-reverse;
        gap: 30px;
        padding: 20px;
    }

    .pro-image img {
        width: 100%;
        max-width: 700px;
        height: auto;
    }

    .projects_holder {
        padding: 30px 40px;
    }
}

@media(max-width: 768px){

    .alert {
        width: 100%;
        display: block;
        font-size: 12px;
        padding: 3px 10px;
    }

    .alert p {
        max-width: 40%;
    }

    #projects h1 {
        font-size: 40px;
        padding: 0 20px;
        text-align: center;
    }

    .projects_holder {
        padding: 20px;
    }

    .project_cards {
        width: 100%;
        gap: 20px;
        padding: 20px;
    }

    .pro-image {
        width: 100%;
    }

    .pro-image img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .project_cards h2 {
        font-size: 22px;
    }

    .project_cards .description {
        font-size: 14px;
        margin-top: 20px;
    }

    .pro-info .btn {
        width: fit-content;
        display: flex;
        margin-top: 10px;
    }

    .btns {
        display: flex;
        margin-top: 10px;
    }

    #skills .skills_main {
        padding: 0 20px;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    #skills h1 {
        text-align: center;
        font-size: 40px;
        padding: 0;
    }

    .skills-cards {
        opacity: 100%;
    }
}

@media(max-width: 580px){
    .pro-title-container{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 10px;
        margin-top: 5px;
    }
}

@media(max-width: 863px){

    nav {
        padding: 15px 20px;
    }

    nav h1 {
        font-size: 20px;
    }

    .menu-toggle {
        display: block;
        background-color: transparent;
    }
    
    .menu-toggle img {
    background-color: transparent;
    }

    nav .nav_elements {
        width: 100%;
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: -10000;
        top: 0;
        align-items: center;
        gap: 18px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .nav_elements.active {
        display: flex;
    }

    .nav_elements li a {
        font-size: 16px;
    }
}

@media(max-width: 940px){
    .git-card-holder{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    }

    .git-cards h2{
        text-align: center;
    }

    .github-stats {
        flex-direction: column;
        gap: 40px;
    }

    .github-stats .stat-cards p {
        text-align: center;
    }
}

@media(max-width: 820px){
    .contact-holder{
        flex-direction: column-reverse;
    }

    .contact-holder img {
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;
        height: auto;
        border-radius: 8px;
    }
}

@media(max-width:570px){
    .hero {
        padding: 0 20px;
    }
    
    .hero .hero_left h1 {
        font-size: 40px;
        text-align: center;
    }

    .hero .hero_left .main{
        font-size: 19px;
    }
}

@media(max-width: 580px){
    #contact h1 {
        font-size: 50px;
        padding-left: 40px;
    }

    #contact h2 {
        font-size: 100%;
        padding-left: 40px;
    }

    #contact .contact-holder {
        padding: 40px;
    }
}

@media(max-width: 440px){
    .project_cards .btns {
        display: flex;
        flex-direction: column;
    }

    .project_cards .btns button {
        width: 100%;
        text-align: center;
        justify-content: center;
        border-radius: 30px;
    }
}

@media(max-width: 700px){
    .leet-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
